name: Test_Devops_Validate

variables:
  - group: Atom
trigger: none

jobs:
  
  - job: SetupBuildInfo
    pool:
      vmImage: ubuntu-latest
    steps:
      
      - checkout: self
        fetchDepth: 0
      
      - task: UseDotNet@2
        inputs:
          version: '10.0.x'

      - script: dotnet run --project _atom/_atom.csproj SetupBuildInfo --skip --headless
        name: SetupBuildInfo
  
  - job: PackProjects
    pool:
      vmImage: ubuntu-latest
    steps:
      
      - checkout: self
        fetchDepth: 0
      
      - task: UseDotNet@2
        inputs:
          version: '10.0.x'

      - script: dotnet run --project _atom/_atom.csproj PackProjects --skip --headless
        name: PackProjects
  
  - job: PackTool
    pool:
      vmImage: ubuntu-latest
    steps:
      
      - checkout: self
        fetchDepth: 0
      
      - task: UseDotNet@2
        inputs:
          version: '10.0.x'

      - script: dotnet run --project _atom/_atom.csproj PackTool --skip --headless
        name: PackTool
  
  - job: TestProjects
    strategy:
      matrix:
        001_windows-latest:
          job-runs-on: 'windows-latest'
        002_ubuntu-latest:
          job-runs-on: 'ubuntu-latest'
        003_macos-latest:
          job-runs-on: 'macos-latest'
    pool:
      vmImage: $(job-runs-on)
    steps:
      
      - checkout: self
        fetchDepth: 0
      
      - task: UseDotNet@2
        inputs:
          version: '10.0.x'

      - task: UseDotNet@2
        inputs:
          version: '8.0.x'

      - task: UseDotNet@2
        inputs:
          version: '9.0.x'

      - script: dotnet run --project _atom/_atom.csproj TestProjects --skip --headless
        name: TestProjects
        env:
          job-runs-on: $(job-runs-on)
          build-slice: $(job-runs-on)
      
      - task: PublishPipelineArtifact@1
        displayName: DecSm.Atom.Tests-$(job-runs-on)
        inputs:
          artifactName: DecSm.Atom.Tests-$(job-runs-on)
          targetPath: "$(Build.BinariesDirectory)/DecSm.Atom.Tests"
      
      - task: PublishPipelineArtifact@1
        displayName: DecSm.Atom.Analyzers.Tests-$(job-runs-on)
        inputs:
          artifactName: DecSm.Atom.Analyzers.Tests-$(job-runs-on)
          targetPath: "$(Build.BinariesDirectory)/DecSm.Atom.Analyzers.Tests"
      
      - task: PublishPipelineArtifact@1
        displayName: DecSm.Atom.SourceGenerators.Tests-$(job-runs-on)
        inputs:
          artifactName: DecSm.Atom.SourceGenerators.Tests-$(job-runs-on)
          targetPath: "$(Build.BinariesDirectory)/DecSm.Atom.SourceGenerators.Tests"
      
      - task: PublishPipelineArtifact@1
        displayName: DecSm.Atom.Module.GithubWorkflows.Tests-$(job-runs-on)
        inputs:
          artifactName: DecSm.Atom.Module.GithubWorkflows.Tests-$(job-runs-on)
          targetPath: "$(Build.BinariesDirectory)/DecSm.Atom.Module.GithubWorkflows.Tests"
      
