name: Test_Devops_Build

variables:
  - group: Atom
trigger:
  branches:
    include:
      - 'main'

jobs:
  
  - job: SetupBuildInfo
    pool:
      vmImage: ubuntu-latest
    steps:
      
      - checkout: self
        fetchDepth: 0
      
      - task: UseDotNet@2
        inputs:
          version: '10.0.x'

      - script: dotnet run --project _atom/_atom.csproj SetupBuildInfo --skip --headless
        name: SetupBuildInfo
        env:
          nuget-dry-run: true
  
  - job: PackProjects
    pool:
      vmImage: ubuntu-latest
    steps:
      
      - checkout: self
        fetchDepth: 0
      
      - task: UseDotNet@2
        inputs:
          version: '10.0.x'

      - script: dotnet run --project _atom/_atom.csproj PackProjects --skip --headless
        name: PackProjects
        env:
          nuget-dry-run: true
      
      - task: PublishPipelineArtifact@1
        displayName: DecSm.Atom
        inputs:
          artifactName: DecSm.Atom
          targetPath: "$(Build.BinariesDirectory)/DecSm.Atom"
      
      - task: PublishPipelineArtifact@1
        displayName: DecSm.Atom.Module.AzureKeyVault
        inputs:
          artifactName: DecSm.Atom.Module.AzureKeyVault
          targetPath: "$(Build.BinariesDirectory)/DecSm.Atom.Module.AzureKeyVault"
      
      - task: PublishPipelineArtifact@1
        displayName: DecSm.Atom.Module.AzureStorage
        inputs:
          artifactName: DecSm.Atom.Module.AzureStorage
          targetPath: "$(Build.BinariesDirectory)/DecSm.Atom.Module.AzureStorage"
      
      - task: PublishPipelineArtifact@1
        displayName: DecSm.Atom.Module.DevopsWorkflows
        inputs:
          artifactName: DecSm.Atom.Module.DevopsWorkflows
          targetPath: "$(Build.BinariesDirectory)/DecSm.Atom.Module.DevopsWorkflows"
      
      - task: PublishPipelineArtifact@1
        displayName: DecSm.Atom.Module.Dotnet
        inputs:
          artifactName: DecSm.Atom.Module.Dotnet
          targetPath: "$(Build.BinariesDirectory)/DecSm.Atom.Module.Dotnet"
      
      - task: PublishPipelineArtifact@1
        displayName: DecSm.Atom.Module.GitVersion
        inputs:
          artifactName: DecSm.Atom.Module.GitVersion
          targetPath: "$(Build.BinariesDirectory)/DecSm.Atom.Module.GitVersion"
      
      - task: PublishPipelineArtifact@1
        displayName: DecSm.Atom.Module.GithubWorkflows
        inputs:
          artifactName: DecSm.Atom.Module.GithubWorkflows
          targetPath: "$(Build.BinariesDirectory)/DecSm.Atom.Module.GithubWorkflows"
      
  
  - job: PackTool
    strategy:
      matrix:
        001_windows-latest:
          job-runs-on: 'windows-latest'
        002_windows-11-arm:
          job-runs-on: 'windows-11-arm'
        003_ubuntu-latest:
          job-runs-on: 'ubuntu-latest'
        004_ubuntu-24-04-arm:
          job-runs-on: 'ubuntu-24.04-arm'
        005_macos-15-intel:
          job-runs-on: 'macos-15-intel'
        006_macos-latest:
          job-runs-on: 'macos-latest'
    pool:
      vmImage: $(job-runs-on)
    steps:
      
      - checkout: self
        fetchDepth: 0
      
      - task: UseDotNet@2
        inputs:
          version: '10.0.x'

      - script: dotnet run --project _atom/_atom.csproj PackTool --skip --headless
        name: PackTool
        env:
          nuget-dry-run: true
          job-runs-on: $(job-runs-on)
          build-slice: $(job-runs-on)
      
      - task: PublishPipelineArtifact@1
        displayName: DecSm.Atom.Tool
        inputs:
          artifactName: DecSm.Atom.Tool-$(job-runs-on)
          targetPath: "$(Build.BinariesDirectory)/DecSm.Atom.Tool"
      
  
  - job: TestProjects
    strategy:
      matrix:
        001_windows-latest_net8-0:
          job-runs-on: 'windows-latest'
          test-framework: 'net8.0'
        002_windows-11-arm_net8-0:
          job-runs-on: 'windows-11-arm'
          test-framework: 'net8.0'
        003_ubuntu-latest_net8-0:
          job-runs-on: 'ubuntu-latest'
          test-framework: 'net8.0'
        004_ubuntu-24-04-arm_net8-0:
          job-runs-on: 'ubuntu-24.04-arm'
          test-framework: 'net8.0'
        005_macos-15-intel_net8-0:
          job-runs-on: 'macos-15-intel'
          test-framework: 'net8.0'
        006_macos-latest_net8-0:
          job-runs-on: 'macos-latest'
          test-framework: 'net8.0'
        007_windows-latest_net9-0:
          job-runs-on: 'windows-latest'
          test-framework: 'net9.0'
        008_windows-11-arm_net9-0:
          job-runs-on: 'windows-11-arm'
          test-framework: 'net9.0'
        009_ubuntu-latest_net9-0:
          job-runs-on: 'ubuntu-latest'
          test-framework: 'net9.0'
        010_ubuntu-24-04-arm_net9-0:
          job-runs-on: 'ubuntu-24.04-arm'
          test-framework: 'net9.0'
        011_macos-15-intel_net9-0:
          job-runs-on: 'macos-15-intel'
          test-framework: 'net9.0'
        012_macos-latest_net9-0:
          job-runs-on: 'macos-latest'
          test-framework: 'net9.0'
        013_windows-latest_net10-0:
          job-runs-on: 'windows-latest'
          test-framework: 'net10.0'
        014_windows-11-arm_net10-0:
          job-runs-on: 'windows-11-arm'
          test-framework: 'net10.0'
        015_ubuntu-latest_net10-0:
          job-runs-on: 'ubuntu-latest'
          test-framework: 'net10.0'
        016_ubuntu-24-04-arm_net10-0:
          job-runs-on: 'ubuntu-24.04-arm'
          test-framework: 'net10.0'
        017_macos-15-intel_net10-0:
          job-runs-on: 'macos-15-intel'
          test-framework: 'net10.0'
        018_macos-latest_net10-0:
          job-runs-on: 'macos-latest'
          test-framework: 'net10.0'
    pool:
      vmImage: $(job-runs-on)
    steps:
      
      - checkout: self
        fetchDepth: 0
      
      - task: UseDotNet@2
        inputs:
          version: '10.0.x'

      - task: UseDotNet@2
        inputs:
          version: '8.0.x'

      - task: UseDotNet@2
        inputs:
          version: '9.0.x'

      - script: dotnet run --project _atom/_atom.csproj TestProjects --skip --headless
        name: TestProjects
        env:
          nuget-dry-run: true
          job-runs-on: $(job-runs-on)
          test-framework: $(test-framework)
          build-slice: $(job-runs-on)-$(test-framework)
      
      - task: PublishPipelineArtifact@1
        displayName: DecSm.Atom.Tests
        inputs:
          artifactName: DecSm.Atom.Tests-$(job-runs-on)-$(test-framework)
          targetPath: "$(Build.BinariesDirectory)/DecSm.Atom.Tests"
      
      - task: PublishPipelineArtifact@1
        displayName: DecSm.Atom.Analyzers.Tests
        inputs:
          artifactName: DecSm.Atom.Analyzers.Tests-$(job-runs-on)-$(test-framework)
          targetPath: "$(Build.BinariesDirectory)/DecSm.Atom.Analyzers.Tests"
      
      - task: PublishPipelineArtifact@1
        displayName: DecSm.Atom.SourceGenerators.Tests
        inputs:
          artifactName: DecSm.Atom.SourceGenerators.Tests-$(job-runs-on)-$(test-framework)
          targetPath: "$(Build.BinariesDirectory)/DecSm.Atom.SourceGenerators.Tests"
      
      - task: PublishPipelineArtifact@1
        displayName: DecSm.Atom.Module.DevopsWorkflows.Tests
        inputs:
          artifactName: DecSm.Atom.Module.DevopsWorkflows.Tests-$(job-runs-on)-$(test-framework)
          targetPath: "$(Build.BinariesDirectory)/DecSm.Atom.Module.DevopsWorkflows.Tests"
      
      - task: PublishPipelineArtifact@1
        displayName: DecSm.Atom.Module.GithubWorkflows.Tests
        inputs:
          artifactName: DecSm.Atom.Module.GithubWorkflows.Tests-$(job-runs-on)-$(test-framework)
          targetPath: "$(Build.BinariesDirectory)/DecSm.Atom.Module.GithubWorkflows.Tests"
      
      - task: PublishPipelineArtifact@1
        displayName: DecSm.Atom.Tool.Tests
        inputs:
          artifactName: DecSm.Atom.Tool.Tests-$(job-runs-on)-$(test-framework)
          targetPath: "$(Build.BinariesDirectory)/DecSm.Atom.Tool.Tests"
      
  
  - job: PushToNuget
    dependsOn: [ TestProjects, PackProjects, PackTool, SetupBuildInfo ]
    pool:
      vmImage: ubuntu-latest
    variables:
      build-id: $[ dependencies.SetupBuildInfo.outputs['SetupBuildInfo.build-id'] ]
    steps:
      
      - checkout: self
        fetchDepth: 0
      
      - task: UseDotNet@2
        inputs:
          version: '10.0.x'

      - task: DownloadPipelineArtifact@2
        displayName: DecSm.Atom
        inputs:
          artifact: DecSm.Atom
          path: "$(Build.ArtifactStagingDirectory)/DecSm.Atom"
      
      - task: DownloadPipelineArtifact@2
        displayName: DecSm.Atom.Module.AzureKeyVault
        inputs:
          artifact: DecSm.Atom.Module.AzureKeyVault
          path: "$(Build.ArtifactStagingDirectory)/DecSm.Atom.Module.AzureKeyVault"
      
      - task: DownloadPipelineArtifact@2
        displayName: DecSm.Atom.Module.AzureStorage
        inputs:
          artifact: DecSm.Atom.Module.AzureStorage
          path: "$(Build.ArtifactStagingDirectory)/DecSm.Atom.Module.AzureStorage"
      
      - task: DownloadPipelineArtifact@2
        displayName: DecSm.Atom.Module.DevopsWorkflows
        inputs:
          artifact: DecSm.Atom.Module.DevopsWorkflows
          path: "$(Build.ArtifactStagingDirectory)/DecSm.Atom.Module.DevopsWorkflows"
      
      - task: DownloadPipelineArtifact@2
        displayName: DecSm.Atom.Module.Dotnet
        inputs:
          artifact: DecSm.Atom.Module.Dotnet
          path: "$(Build.ArtifactStagingDirectory)/DecSm.Atom.Module.Dotnet"
      
      - task: DownloadPipelineArtifact@2
        displayName: DecSm.Atom.Module.GitVersion
        inputs:
          artifact: DecSm.Atom.Module.GitVersion
          path: "$(Build.ArtifactStagingDirectory)/DecSm.Atom.Module.GitVersion"
      
      - task: DownloadPipelineArtifact@2
        displayName: DecSm.Atom.Module.GithubWorkflows
        inputs:
          artifact: DecSm.Atom.Module.GithubWorkflows
          path: "$(Build.ArtifactStagingDirectory)/DecSm.Atom.Module.GithubWorkflows"
      
      - task: DownloadPipelineArtifact@2
        displayName: DecSm.Atom.Tool
        inputs:
          artifact: DecSm.Atom.Tool-windows-latest
          path: "$(Build.ArtifactStagingDirectory)/DecSm.Atom.Tool"
      
      - task: DownloadPipelineArtifact@2
        displayName: DecSm.Atom.Tool
        inputs:
          artifact: DecSm.Atom.Tool-windows-11-arm
          path: "$(Build.ArtifactStagingDirectory)/DecSm.Atom.Tool"
      
      - task: DownloadPipelineArtifact@2
        displayName: DecSm.Atom.Tool
        inputs:
          artifact: DecSm.Atom.Tool-ubuntu-latest
          path: "$(Build.ArtifactStagingDirectory)/DecSm.Atom.Tool"
      
      - task: DownloadPipelineArtifact@2
        displayName: DecSm.Atom.Tool
        inputs:
          artifact: DecSm.Atom.Tool-ubuntu-24.04-arm
          path: "$(Build.ArtifactStagingDirectory)/DecSm.Atom.Tool"
      
      - task: DownloadPipelineArtifact@2
        displayName: DecSm.Atom.Tool
        inputs:
          artifact: DecSm.Atom.Tool-macos-15-intel
          path: "$(Build.ArtifactStagingDirectory)/DecSm.Atom.Tool"
      
      - task: DownloadPipelineArtifact@2
        displayName: DecSm.Atom.Tool
        inputs:
          artifact: DecSm.Atom.Tool-macos-latest
          path: "$(Build.ArtifactStagingDirectory)/DecSm.Atom.Tool"
      
      - script: dotnet run --project _atom/_atom.csproj PushToNuget --skip --headless
        name: PushToNuget
        env:
          build-id: $(build-id)
          azure-vault-app-secret: $(AZURE_VAULT_APP_SECRET)
          azure-vault-address: $(AZURE_VAULT_ADDRESS)
          azure-vault-tenant-id: $(AZURE_VAULT_TENANT_ID)
          azure-vault-app-id: $(AZURE_VAULT_APP_ID)
          nuget-dry-run: true
