name: Test_Devops_Validate

variables:
  - group: Atom

jobs:
  
  - job: SetupBuildInfo
    pool:
      vmImage: ubuntu-latest
    steps:
      
      - checkout: self
        fetchDepth: 0
      
      - task: UseDotNet@2
        inputs:
          version: '10.0.x'

      - script: dotnet run --project _atom/_atom.csproj SetupBuildInfo --skip --headless
        name: SetupBuildInfo
  
  - job: PackProjects
    pool:
      vmImage: ubuntu-latest
    steps:
      
      - checkout: self
        fetchDepth: 0
      
      - task: UseDotNet@2
        inputs:
          version: '10.0.x'

      - script: dotnet run --project _atom/_atom.csproj PackProjects --skip --headless
        name: PackProjects
  
  - job: PackTool
    strategy:
      matrix:
        001_windows-latest:
          job-runs-on: 'windows-latest'
        002_ubuntu-latest:
          job-runs-on: 'ubuntu-latest'
        003_macos-latest:
          job-runs-on: 'macos-latest'
    pool:
      vmImage: ubuntu-latest
    steps:
      
      - checkout: self
        fetchDepth: 0
      
      - task: UseDotNet@2
        inputs:
          version: '10.0.x'

      - script: dotnet run --project _atom/_atom.csproj PackTool --skip --headless
        name: PackTool
        env:
          job-runs-on: $(job-runs-on)
          build-slice: $(job-runs-on)
  
  - job: TestProjects
    strategy:
      matrix:
        001_windows-latest_net8-0:
          job-runs-on: 'windows-latest'
          test-framework: 'net8.0'
        002_ubuntu-latest_net8-0:
          job-runs-on: 'ubuntu-latest'
          test-framework: 'net8.0'
        003_macos-latest_net8-0:
          job-runs-on: 'macos-latest'
          test-framework: 'net8.0'
        004_windows-latest_net9-0:
          job-runs-on: 'windows-latest'
          test-framework: 'net9.0'
        005_ubuntu-latest_net9-0:
          job-runs-on: 'ubuntu-latest'
          test-framework: 'net9.0'
        006_macos-latest_net9-0:
          job-runs-on: 'macos-latest'
          test-framework: 'net9.0'
        007_windows-latest_net10-0:
          job-runs-on: 'windows-latest'
          test-framework: 'net10.0'
        008_ubuntu-latest_net10-0:
          job-runs-on: 'ubuntu-latest'
          test-framework: 'net10.0'
        009_macos-latest_net10-0:
          job-runs-on: 'macos-latest'
          test-framework: 'net10.0'
    pool:
      vmImage: $(job-runs-on)
    steps:
      
      - checkout: self
        fetchDepth: 0
      
      - task: UseDotNet@2
        inputs:
          version: '10.0.x'

      - task: UseDotNet@2
        inputs:
          version: '8.0.x'

      - task: UseDotNet@2
        inputs:
          version: '9.0.x'

      - script: dotnet run --project _atom/_atom.csproj TestProjects --skip --headless
        name: TestProjects
        env:
          job-runs-on: $(job-runs-on)
          test-framework: $(test-framework)
          build-slice: $(job-runs-on)-$(test-framework)
      
      - task: PublishPipelineArtifact@1
        displayName: DecSm.Atom.Tests
        inputs:
          artifactName: DecSm.Atom.Tests-$(job-runs-on)-$(test-framework)
          targetPath: "$(Build.BinariesDirectory)/DecSm.Atom.Tests"
      
      - task: PublishPipelineArtifact@1
        displayName: DecSm.Atom.Analyzers.Tests
        inputs:
          artifactName: DecSm.Atom.Analyzers.Tests-$(job-runs-on)-$(test-framework)
          targetPath: "$(Build.BinariesDirectory)/DecSm.Atom.Analyzers.Tests"
      
      - task: PublishPipelineArtifact@1
        displayName: DecSm.Atom.SourceGenerators.Tests
        inputs:
          artifactName: DecSm.Atom.SourceGenerators.Tests-$(job-runs-on)-$(test-framework)
          targetPath: "$(Build.BinariesDirectory)/DecSm.Atom.SourceGenerators.Tests"
      
      - task: PublishPipelineArtifact@1
        displayName: DecSm.Atom.Module.GithubWorkflows.Tests
        inputs:
          artifactName: DecSm.Atom.Module.GithubWorkflows.Tests-$(job-runs-on)-$(test-framework)
          targetPath: "$(Build.BinariesDirectory)/DecSm.Atom.Module.GithubWorkflows.Tests"
      
