name: Build

on:
  workflow_dispatch:
  release:
    types: [ released ]
  
  push:
    branches:
      - 'main'
      - 'feature/**'
      - 'patch/**'

jobs:
  
  SetupBuildInfo:
    runs-on: ubuntu-latest
    outputs:
      build-name: ${{ steps.SetupBuildInfo.outputs.build-name }}
      build-id: ${{ steps.SetupBuildInfo.outputs.build-id }}
      build-version: ${{ steps.SetupBuildInfo.outputs.build-version }}
      build-timestamp: ${{ steps.SetupBuildInfo.outputs.build-timestamp }}
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      
      - name: SetupBuildInfo
        id: SetupBuildInfo
        run: dotnet run --project _atom/_atom.csproj SetupBuildInfo --skip --headless
  
  PackProjects:
    runs-on: ubuntu-latest
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      
      - name: PackProjects
        id: PackProjects
        run: dotnet run --project _atom/_atom.csproj PackProjects --skip --headless
      
      - name: Upload DecSm.Atom
        uses: actions/upload-artifact@v4
        with:
          name: DecSm.Atom
          path: "${{ github.workspace }}/.github/publish/DecSm.Atom"
      
      - name: Upload DecSm.Atom.Module.AzureKeyVault
        uses: actions/upload-artifact@v4
        with:
          name: DecSm.Atom.Module.AzureKeyVault
          path: "${{ github.workspace }}/.github/publish/DecSm.Atom.Module.AzureKeyVault"
      
      - name: Upload DecSm.Atom.Module.AzureStorage
        uses: actions/upload-artifact@v4
        with:
          name: DecSm.Atom.Module.AzureStorage
          path: "${{ github.workspace }}/.github/publish/DecSm.Atom.Module.AzureStorage"
      
      - name: Upload DecSm.Atom.Module.DevopsWorkflows
        uses: actions/upload-artifact@v4
        with:
          name: DecSm.Atom.Module.DevopsWorkflows
          path: "${{ github.workspace }}/.github/publish/DecSm.Atom.Module.DevopsWorkflows"
      
      - name: Upload DecSm.Atom.Module.Dotnet
        uses: actions/upload-artifact@v4
        with:
          name: DecSm.Atom.Module.Dotnet
          path: "${{ github.workspace }}/.github/publish/DecSm.Atom.Module.Dotnet"
      
      - name: Upload DecSm.Atom.Module.GitVersion
        uses: actions/upload-artifact@v4
        with:
          name: DecSm.Atom.Module.GitVersion
          path: "${{ github.workspace }}/.github/publish/DecSm.Atom.Module.GitVersion"
      
      - name: Upload DecSm.Atom.Module.GithubWorkflows
        uses: actions/upload-artifact@v4
        with:
          name: DecSm.Atom.Module.GithubWorkflows
          path: "${{ github.workspace }}/.github/publish/DecSm.Atom.Module.GithubWorkflows"
  
  PackTool:
    strategy:
      matrix:
        job-runs-on: [ windows-latest, ubuntu-latest, macos-latest ]
    runs-on: ${{ matrix.job-runs-on }}
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      
      - name: PackTool
        id: PackTool
        run: dotnet run --project _atom/_atom.csproj PackTool --skip --headless
        env:
          job-runs-on: ${{ matrix.job-runs-on }}
          build-slice: ${{ matrix.job-runs-on }}
      
      - name: Upload DecSm.Atom.Tool
        uses: actions/upload-artifact@v4
        with:
          name: DecSm.Atom.Tool-${{ matrix.job-runs-on }}
          path: "${{ github.workspace }}/.github/publish/DecSm.Atom.Tool"
  
  TestProjects:
    strategy:
      matrix:
        job-runs-on: [ windows-latest, ubuntu-latest, macos-latest ]
    runs-on: ${{ matrix.job-runs-on }}
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'
      
      - name: TestProjects
        id: TestProjects
        run: dotnet run --project _atom/_atom.csproj TestProjects --skip --headless
        env:
          job-runs-on: ${{ matrix.job-runs-on }}
          build-slice: ${{ matrix.job-runs-on }}
      
      - name: Upload DecSm.Atom.Tests
        uses: actions/upload-artifact@v4
        with:
          name: DecSm.Atom.Tests-${{ matrix.job-runs-on }}
          path: "${{ github.workspace }}/.github/publish/DecSm.Atom.Tests"
      
      - name: Upload DecSm.Atom.Module.GithubWorkflows.Tests
        uses: actions/upload-artifact@v4
        with:
          name: DecSm.Atom.Module.GithubWorkflows.Tests-${{ matrix.job-runs-on }}
          path: "${{ github.workspace }}/.github/publish/DecSm.Atom.Module.GithubWorkflows.Tests"
  
  PushToNuget:
    needs: [ TestProjects, PackProjects, PackTool, SetupBuildInfo ]
    runs-on: ubuntu-latest
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      
      - name: Download DecSm.Atom
        uses: actions/download-artifact@v4
        with:
          name: DecSm.Atom
          path: "${{ github.workspace }}/.github/artifacts/DecSm.Atom"
      
      - name: Download DecSm.Atom.Module.AzureKeyVault
        uses: actions/download-artifact@v4
        with:
          name: DecSm.Atom.Module.AzureKeyVault
          path: "${{ github.workspace }}/.github/artifacts/DecSm.Atom.Module.AzureKeyVault"
      
      - name: Download DecSm.Atom.Module.AzureStorage
        uses: actions/download-artifact@v4
        with:
          name: DecSm.Atom.Module.AzureStorage
          path: "${{ github.workspace }}/.github/artifacts/DecSm.Atom.Module.AzureStorage"
      
      - name: Download DecSm.Atom.Module.DevopsWorkflows
        uses: actions/download-artifact@v4
        with:
          name: DecSm.Atom.Module.DevopsWorkflows
          path: "${{ github.workspace }}/.github/artifacts/DecSm.Atom.Module.DevopsWorkflows"
      
      - name: Download DecSm.Atom.Module.Dotnet
        uses: actions/download-artifact@v4
        with:
          name: DecSm.Atom.Module.Dotnet
          path: "${{ github.workspace }}/.github/artifacts/DecSm.Atom.Module.Dotnet"
      
      - name: Download DecSm.Atom.Module.GitVersion
        uses: actions/download-artifact@v4
        with:
          name: DecSm.Atom.Module.GitVersion
          path: "${{ github.workspace }}/.github/artifacts/DecSm.Atom.Module.GitVersion"
      
      - name: Download DecSm.Atom.Module.GithubWorkflows
        uses: actions/download-artifact@v4
        with:
          name: DecSm.Atom.Module.GithubWorkflows
          path: "${{ github.workspace }}/.github/artifacts/DecSm.Atom.Module.GithubWorkflows"
      
      - name: Download DecSm.Atom.Tool
        uses: actions/download-artifact@v4
        with:
          name: DecSm.Atom.Tool-windows-latest
          path: "${{ github.workspace }}/.github/artifacts/DecSm.Atom.Tool"
      
      - name: Download DecSm.Atom.Tool
        uses: actions/download-artifact@v4
        with:
          name: DecSm.Atom.Tool-ubuntu-latest
          path: "${{ github.workspace }}/.github/artifacts/DecSm.Atom.Tool"
      
      - name: Download DecSm.Atom.Tool
        uses: actions/download-artifact@v4
        with:
          name: DecSm.Atom.Tool-macos-latest
          path: "${{ github.workspace }}/.github/artifacts/DecSm.Atom.Tool"
      
      - name: PushToNuget
        id: PushToNuget
        run: dotnet run --project _atom/_atom.csproj PushToNuget --skip --headless
        env:
          build-id: ${{ needs.SetupBuildInfo.outputs.build-id }}
          azure-vault-app-secret: ${{ secrets.AZURE_VAULT_APP_SECRET }}
          azure-vault-address: ${{ vars.AZURE_VAULT_ADDRESS }}
          azure-vault-tenant-id: ${{ vars.AZURE_VAULT_TENANT_ID }}
          azure-vault-app-id: ${{ vars.AZURE_VAULT_APP_ID }}
  
  PushToRelease:
    needs: [ TestProjects, PackProjects, PackTool, SetupBuildInfo ]
    runs-on: ubuntu-latest
    if: contains(needs.SetupBuildInfo.outputs.build-version, '-') == false
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      
      - name: Download DecSm.Atom
        uses: actions/download-artifact@v4
        with:
          name: DecSm.Atom
          path: "${{ github.workspace }}/.github/artifacts/DecSm.Atom"
      
      - name: Download DecSm.Atom.Module.AzureKeyVault
        uses: actions/download-artifact@v4
        with:
          name: DecSm.Atom.Module.AzureKeyVault
          path: "${{ github.workspace }}/.github/artifacts/DecSm.Atom.Module.AzureKeyVault"
      
      - name: Download DecSm.Atom.Module.AzureStorage
        uses: actions/download-artifact@v4
        with:
          name: DecSm.Atom.Module.AzureStorage
          path: "${{ github.workspace }}/.github/artifacts/DecSm.Atom.Module.AzureStorage"
      
      - name: Download DecSm.Atom.Module.DevopsWorkflows
        uses: actions/download-artifact@v4
        with:
          name: DecSm.Atom.Module.DevopsWorkflows
          path: "${{ github.workspace }}/.github/artifacts/DecSm.Atom.Module.DevopsWorkflows"
      
      - name: Download DecSm.Atom.Module.Dotnet
        uses: actions/download-artifact@v4
        with:
          name: DecSm.Atom.Module.Dotnet
          path: "${{ github.workspace }}/.github/artifacts/DecSm.Atom.Module.Dotnet"
      
      - name: Download DecSm.Atom.Module.GitVersion
        uses: actions/download-artifact@v4
        with:
          name: DecSm.Atom.Module.GitVersion
          path: "${{ github.workspace }}/.github/artifacts/DecSm.Atom.Module.GitVersion"
      
      - name: Download DecSm.Atom.Module.GithubWorkflows
        uses: actions/download-artifact@v4
        with:
          name: DecSm.Atom.Module.GithubWorkflows
          path: "${{ github.workspace }}/.github/artifacts/DecSm.Atom.Module.GithubWorkflows"
      
      - name: Download DecSm.Atom.Tool
        uses: actions/download-artifact@v4
        with:
          name: DecSm.Atom.Tool
          path: "${{ github.workspace }}/.github/artifacts/DecSm.Atom.Tool"
      
      - name: PushToRelease
        id: PushToRelease
        run: dotnet run --project _atom/_atom.csproj PushToRelease --skip --headless
        env:
          build-version: ${{ needs.SetupBuildInfo.outputs.build-version }}
          azure-vault-app-secret: ${{ secrets.AZURE_VAULT_APP_SECRET }}
          azure-vault-address: ${{ vars.AZURE_VAULT_ADDRESS }}
          azure-vault-tenant-id: ${{ vars.AZURE_VAULT_TENANT_ID }}
          azure-vault-app-id: ${{ vars.AZURE_VAULT_APP_ID }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
