name: Dependabot - Auto Approve

permissions: { }
on:
  workflow_dispatch:
  pull_request:
    branches:
      - 'main'

jobs:
  
  ApprovePr:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    permissions:
      id-token: write
      pull-requests: write
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      
      - name: ApprovePr
        id: ApprovePr
        run: dotnet run --project _atom/_atom.csproj ApprovePr --skip --headless
        env:
          azure-vault-app-secret: ${{ secrets.AZURE_VAULT_APP_SECRET }}
          azure-vault-address: ${{ vars.AZURE_VAULT_ADDRESS }}
          azure-vault-tenant-id: ${{ vars.AZURE_VAULT_TENANT_ID }}
          azure-vault-app-id: ${{ vars.AZURE_VAULT_APP_ID }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
