name: Dependabot Enable auto-merge

permissions: { }
on:
  pull_request:
    branches:
      - 'main'

jobs:
  
  ApproveDependabotPr:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
          cache: true
          cache-dependency-path: '**/packages.lock.json'
      
      - run: dotnet restore _atom --locked-mode
      
      - name: ApproveDependabotPr
        id: ApproveDependabotPr
        run: dotnet run --project _atom/_atom.csproj --no-restore ${{ runner.debug && '-v d' || '' }} -- ApproveDependabotPr --skip --headless
        env:
          azure-vault-app-secret: ${{ secrets.AZURE_VAULT_APP_SECRET }}
          azure-vault-address: ${{ vars.AZURE_VAULT_ADDRESS }}
          azure-vault-tenant-id: ${{ vars.AZURE_VAULT_TENANT_ID }}
          azure-vault-app-id: ${{ vars.AZURE_VAULT_APP_ID }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          pull-request-number: ${{ github.event.number }}
