name: Validate

permissions: { }
on:
  workflow_dispatch:
  pull_request:
    branches:
      - 'main'

jobs:
  
  SetupBuildInfo:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    outputs:
      build-name: ${{ steps.SetupBuildInfo.outputs.build-name }}
      build-id: ${{ steps.SetupBuildInfo.outputs.build-id }}
      build-version: ${{ steps.SetupBuildInfo.outputs.build-version }}
      build-timestamp: ${{ steps.SetupBuildInfo.outputs.build-timestamp }}
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      
      - name: cache-restore-atom-build
        id: cache-restore-atom-build
        uses: actions/cache/restore@v4
        with:
          path: |
            ${{ github.workspace }}/.atom
          key: ${{ format('{0}-atom-build-{1}', runner.os, hashFiles('_atom/**/*.cs', '_atom/appsettings.json', '_atom/packages.lock.json')) }}
      
      - name: SetupBuildInfo
        id: SetupBuildInfo
        run: ${{ steps.cache-restore-atom-build.outputs.cache-hit && format('.atom/{0} -- SetupBuildInfo --skip --headless', runner.os == 'windows' && '_atom.exe' || '_atom') || 'dotnet run --project _atom/_atom.csproj -- SetupBuildInfo --skip --headless' }}
        env:
          pull-request-number: ${{ github.event.number }}
  
  BuildAtom:
    runs-on: ubuntu-latest
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      
      - name: cache-restore-atom-build
        id: cache-restore-atom-build
        uses: actions/cache/restore@v4
        with:
          path: |
            ${{ github.workspace }}/.atom
          key: ${{ format('{0}-atom-build-{1}', runner.os, hashFiles('_atom/**/*.cs', '_atom/appsettings.json', '_atom/packages.lock.json')) }}
      
      - name: BuildAtom
        id: BuildAtom
        run: ${{ steps.cache-restore-atom-build.outputs.cache-hit && format('.atom/{0} -- BuildAtom --skip --headless', runner.os == 'windows' && '_atom.exe' || '_atom') || 'dotnet run --project _atom/_atom.csproj -- BuildAtom --skip --headless' }}
      
      - run: |
          git reset --hard HEAD
          git clean -xdf "_atom"
      
      - name: cache-save-atom-build
        id: cache-save-atom-build
        uses: actions/cache/save@v4
        if: steps.cache-restore-atom-build.outputs.cache-hit != true
        with:
          path: |
            ${{ github.workspace }}/.atom
          key: ${{ format('{0}-atom-build-{1}', runner.os, hashFiles('_atom/**/*.cs', '_atom/appsettings.json', '_atom/packages.lock.json')) }}
  
  PackProjects:
    runs-on: ubuntu-latest
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      
      - name: cache-restore-atom-build
        id: cache-restore-atom-build
        uses: actions/cache/restore@v4
        with:
          path: |
            ${{ github.workspace }}/.atom
          key: ${{ format('{0}-atom-build-{1}', runner.os, hashFiles('_atom/**/*.cs', '_atom/appsettings.json', '_atom/packages.lock.json')) }}
      
      - name: PackProjects
        id: PackProjects
        run: ${{ steps.cache-restore-atom-build.outputs.cache-hit && format('.atom/{0} -- PackProjects --skip --headless', runner.os == 'windows' && '_atom.exe' || '_atom') || 'dotnet run --project _atom/_atom.csproj -- PackProjects --skip --headless' }}
  
  PackTool:
    strategy:
      matrix:
        job-runs-on: [ windows-latest, windows-11-arm, ubuntu-latest, ubuntu-24.04-arm, macos-15-intel, macos-latest ]
    runs-on: ${{ matrix.job-runs-on }}
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      
      - name: cache-restore-atom-build
        id: cache-restore-atom-build
        uses: actions/cache/restore@v4
        with:
          path: |
            ${{ github.workspace }}/.atom
          key: ${{ format('{0}-atom-build-{1}', runner.os, hashFiles('_atom/**/*.cs', '_atom/appsettings.json', '_atom/packages.lock.json')) }}
      
      - name: PackTool
        id: PackTool
        run: ${{ steps.cache-restore-atom-build.outputs.cache-hit && format('.atom/{0} -- PackTool --skip --headless', runner.os == 'windows' && '_atom.exe' || '_atom') || 'dotnet run --project _atom/_atom.csproj -- PackTool --skip --headless' }}
        env:
          job-runs-on: ${{ matrix.job-runs-on }}
          build-slice: ${{ matrix.job-runs-on }}
  
  TestProjects:
    strategy:
      matrix:
        job-runs-on: [ windows-latest, windows-11-arm, ubuntu-latest, ubuntu-24.04-arm, macos-15-intel, macos-latest ]
        test-framework: [ net8.0, net9.0, net10.0 ]
    runs-on: ${{ matrix.job-runs-on }}
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'
      
      - name: cache-restore-atom-build
        id: cache-restore-atom-build
        uses: actions/cache/restore@v4
        with:
          path: |
            ${{ github.workspace }}/.atom
          key: ${{ format('{0}-atom-build-{1}', runner.os, hashFiles('_atom/**/*.cs', '_atom/appsettings.json', '_atom/packages.lock.json')) }}
      
      - name: TestProjects
        id: TestProjects
        run: ${{ steps.cache-restore-atom-build.outputs.cache-hit && format('.atom/{0} -- TestProjects --skip --headless', runner.os == 'windows' && '_atom.exe' || '_atom') || 'dotnet run --project _atom/_atom.csproj -- TestProjects --skip --headless' }}
        env:
          job-runs-on: ${{ matrix.job-runs-on }}
          test-framework: ${{ matrix.test-framework }}
          build-slice: ${{ matrix.job-runs-on }}-${{ matrix.test-framework }}
      
      - name: Upload DecSm.Atom.Tests
        uses: actions/upload-artifact@v4
        with:
          name: DecSm.Atom.Tests-${{ matrix.job-runs-on }}-${{ matrix.test-framework }}
          path: "${{ github.workspace }}/.github/publish/DecSm.Atom.Tests"
      
      - name: Upload DecSm.Atom.Analyzers.Tests
        uses: actions/upload-artifact@v4
        with:
          name: DecSm.Atom.Analyzers.Tests-${{ matrix.job-runs-on }}-${{ matrix.test-framework }}
          path: "${{ github.workspace }}/.github/publish/DecSm.Atom.Analyzers.Tests"
      
      - name: Upload DecSm.Atom.SourceGenerators.Tests
        uses: actions/upload-artifact@v4
        with:
          name: DecSm.Atom.SourceGenerators.Tests-${{ matrix.job-runs-on }}-${{ matrix.test-framework }}
          path: "${{ github.workspace }}/.github/publish/DecSm.Atom.SourceGenerators.Tests"
      
      - name: Upload DecSm.Atom.Module.DevopsWorkflows.Tests
        uses: actions/upload-artifact@v4
        with:
          name: DecSm.Atom.Module.DevopsWorkflows.Tests-${{ matrix.job-runs-on }}-${{ matrix.test-framework }}
          path: "${{ github.workspace }}/.github/publish/DecSm.Atom.Module.DevopsWorkflows.Tests"
      
      - name: Upload DecSm.Atom.Module.GithubWorkflows.Tests
        uses: actions/upload-artifact@v4
        with:
          name: DecSm.Atom.Module.GithubWorkflows.Tests-${{ matrix.job-runs-on }}-${{ matrix.test-framework }}
          path: "${{ github.workspace }}/.github/publish/DecSm.Atom.Module.GithubWorkflows.Tests"
      
      - name: Upload DecSm.Atom.Tool.Tests
        uses: actions/upload-artifact@v4
        with:
          name: DecSm.Atom.Tool.Tests-${{ matrix.job-runs-on }}-${{ matrix.test-framework }}
          path: "${{ github.workspace }}/.github/publish/DecSm.Atom.Tool.Tests"
  
  CheckPrForBreakingChanges:
    needs: [ SetupBuildInfo ]
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: write
      id-token: write
      pull-requests: write
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      
      - name: cache-restore-atom-build
        id: cache-restore-atom-build
        uses: actions/cache/restore@v4
        with:
          path: |
            ${{ github.workspace }}/.atom
          key: ${{ format('{0}-atom-build-{1}', runner.os, hashFiles('_atom/**/*.cs', '_atom/appsettings.json', '_atom/packages.lock.json')) }}
      
      - name: CheckPrForBreakingChanges
        id: CheckPrForBreakingChanges
        run: ${{ steps.cache-restore-atom-build.outputs.cache-hit && format('.atom/{0} -- CheckPrForBreakingChanges --skip --headless', runner.os == 'windows' && '_atom.exe' || '_atom') || 'dotnet run --project _atom/_atom.csproj -- CheckPrForBreakingChanges --skip --headless' }}
        env:
          build-version: ${{ needs.SetupBuildInfo.outputs.build-version }}
          azure-vault-app-secret: ${{ secrets.AZURE_VAULT_APP_SECRET }}
          azure-vault-address: ${{ vars.AZURE_VAULT_ADDRESS }}
          azure-vault-tenant-id: ${{ vars.AZURE_VAULT_TENANT_ID }}
          azure-vault-app-id: ${{ vars.AZURE_VAULT_APP_ID }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          pull-request-number: ${{ github.event.number }}
