name: Validate

on:
  workflow_dispatch:
  pull_request:
    branches:
      - 'main'

jobs:
  
  SetupBuildInfo:
    runs-on: ubuntu-latest
    outputs:
      build-name: ${{ steps.SetupBuildInfo.outputs.build-name }}
      build-id: ${{ steps.SetupBuildInfo.outputs.build-id }}
      build-version: ${{ steps.SetupBuildInfo.outputs.build-version }}
      build-timestamp: ${{ steps.SetupBuildInfo.outputs.build-timestamp }}
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      
      - name: SetupBuildInfo
        id: SetupBuildInfo
        run: dotnet run --project _atom/_atom.csproj SetupBuildInfo --skip --headless
  
  PackProjects:
    runs-on: ubuntu-latest
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      
      - name: PackProjects
        id: PackProjects
        run: dotnet run --project _atom/_atom.csproj PackProjects --skip --headless
  
  PackTool:
    runs-on: ubuntu-latest
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      
      - name: PackTool
        id: PackTool
        run: dotnet run --project _atom/_atom.csproj PackTool --skip --headless
  
  TestProjects:
    strategy:
      matrix:
        job-runs-on: [ windows-latest, ubuntu-latest, macos-latest ]
    runs-on: ${{ matrix.job-runs-on }}
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'
      
      - name: TestProjects
        id: TestProjects
        run: dotnet run --project _atom/_atom.csproj TestProjects --skip --headless
        env:
          job-runs-on: ${{ matrix.job-runs-on }}
          build-slice: ${{ matrix.job-runs-on }}
      
      - name: Upload DecSm.Atom.Tests
        uses: actions/upload-artifact@v4
        with:
          name: DecSm.Atom.Tests-${{ matrix.job-runs-on }}
          path: "${{ github.workspace }}/.github/publish/DecSm.Atom.Tests"
      
      - name: Upload DecSm.Atom.Analyzers.Tests
        uses: actions/upload-artifact@v4
        with:
          name: DecSm.Atom.Analyzers.Tests-${{ matrix.job-runs-on }}
          path: "${{ github.workspace }}/.github/publish/DecSm.Atom.Analyzers.Tests"
      
      - name: Upload DecSm.Atom.SourceGenerators.Tests
        uses: actions/upload-artifact@v4
        with:
          name: DecSm.Atom.SourceGenerators.Tests-${{ matrix.job-runs-on }}
          path: "${{ github.workspace }}/.github/publish/DecSm.Atom.SourceGenerators.Tests"
      
      - name: Upload DecSm.Atom.Module.GithubWorkflows.Tests
        uses: actions/upload-artifact@v4
        with:
          name: DecSm.Atom.Module.GithubWorkflows.Tests-${{ matrix.job-runs-on }}
          path: "${{ github.workspace }}/.github/publish/DecSm.Atom.Module.GithubWorkflows.Tests"
